@using PL.Models
@model LoginModel
@{
    ViewBag.Title = "Login";
}
<div class="action-panel">
    <div class="page-title">Login to use the file storage</div>
</div>
<section id="loginForm">
    @using (Html.BeginForm("Login", "Account2", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            <div class="text-box-val">
                <div>@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @maxlength = "30", @required = true })</div>
                <div class="text-danger"> @Html.ValidationMessageFor(m => m.Email, "")</div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label", @type = "password" })
            <div class="text-box-val">
                <div>@Html.PasswordFor(m => m.Password, new { @class = "form-control", @minlength = "6", @maxlength = "30" })</div>
                <div class="text-danger"> @Html.ValidationMessageFor(m => m.Password, "")</div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="LOGIN" class="btn-login" />
        </div>
        <p class="manage-link">
            @Html.ActionLink("No account? Register", "Register")
        </p>
    }
</section>