@model PL.Models.RegisterModel
@{
    ViewBag.Title = "Index";
}

<div class="action-panel">
    <div class="page-title">Creating a new account</div>
</div>
@using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        <div class="text-box-val">
            <div>@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @maxlength = "30", @required = true })</div>
            <div class="text-danger"> @Html.ValidationMessageFor(m => m.Name, "")</div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Surname, new { @class = "control-label" })
        <div class="text-box-val">
            <div>@Html.TextBoxFor(m => m.Surname, new { @class = "form-control", @maxlength = "30", @required = true })</div>
            <div class="text-danger"> @Html.ValidationMessageFor(m => m.Surname, "")</div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
        <div class="text-box-val">
            <div>@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @maxlength = "30", @required = true })</div>
            <div class="text-danger"> @Html.ValidationMessageFor(m => m.Email, "")</div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        <div class="text-box-val">
            <div>@Html.PasswordFor(m => m.Password, new { @class = "form-control", @minlength = "6", @maxlength = "30" })</div>
            <div class="text-danger"> @Html.ValidationMessageFor(m => m.Password, "")</div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        <div class="text-box-val">
            <div>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @minlength = "6", @maxlength = "30" })</div>
            <div class="text-danger"> @Html.ValidationMessageFor(m => m.ConfirmPassword, "")</div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="REGISTER" class="btn-login" />
    </div>
    <p class="manage-link">
        @Html.ActionLink("Already have an account? Login", "Index", "Login")
    </p>
}

